<!DOCTYPE html>
<html lang="en">
<html xmlns:th="http://www.thymeleaf.org">
<head th:include="admin_basic :: head">
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body th:include="admin_basic :: main">
<div th:insert="row"></div>
<!--    <div class="page-container">
        <div ></div>

        <div >
            <form action="/add_position" method="post">
                <input type="text" name="apartment" placeholder="部门" required="required">
                <input type="test" name="name" placeholder="职位名称" required="required">
                <ul>
                    <li>1</li>
                    <li>2</li>
                    <li>3</li>
                </ul>
                <input type="submit"  value="Add">
            </form>
        </div>
    </div>-->
</body>
</html>