<!doctype html>
<html lang="en">
<html xmlns:th="http://www.thymeleaf.org">
<head th:include="admin_basic::head">
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>

</head>
<body>

<div class="container">
    <div th:replace="admin_basic::navbar(1)"></div>
    <div class="container" >
        <div class="row clearfix">
            <div th:replace="admin_basic::side(3,1)"></div>
            <div class="col-md-8 column">
                <form action="admin_index_detail_delete">
                    <div  th:each="daily:${news}">
                        <div class="panel panel-info">
                            <div class="panel-heading" th:text="${daily.title}">
                                不带 title 的面板标题
                            </div>
                            <div class="panel-body" th:text="${daily.context}">
                                面板内容
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>

</div>
</body>
</html>